<article class="blog-card" data-category="{{ post.data.category | lower }}">
  <div class="blog-card__img">
    {% set blogImgPath = "src" ~ post.data.image %}
    {% image blogImgPath, post.data.title, "blog_image_thumbnail" %}
    <a class="blog-card__category" href="#">{{ post.data.category }}</a>
  </div>
  <div class="blog-card__body">
    <div class="blog-card__meta">
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        {{ post.data.author }}
      </small>
      <small>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        {{ post.date }}
      </small>
    </div>
    <h3 class="blog-card__title">{{ post.data.title }}</h3>
    <p class="blog-card__excerpt">{{ post.data.excerpt }}</p>
    <a class="blog-card__link" href="{{ post.url }}">
      Leer más
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
      </svg>
    </a>
  </div>
</article>
