{% set heroPath = "src/assets/images/hero/" + heroImage %}
{% set displayTitle = heroTitle if heroTitle else title %}

<section class="hero-simple">
  {% image heroPath, displayTitle, "hero_image", "eager" %}
  <div class="hero-simple__content">
    <h1>{{ displayTitle }}</h1>
  </div>
</section>
