---
title: Contacto
description: Ponte en contacto con nosotros.
layout: base.njk
scripts: ['form']
---

<article>
  <h1>Contacto</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos pondremos en contacto contigo a la brevedad.</p>

  {% include "form-contacto.njk" %}
</article>
