---
title: Inicio
description: Boilerplate corporativo estático con Eleventy - Rendimiento, Accesibilidad y SEO.
layout: base.njk
scripts: ['form']
---

{% include "hero.njk" %}

<section class="section" aria-labelledby="heading-services">
  <h2 id="heading-services">Nuestros Servicios</h2>
    <div class="card-grid">
      {% for service in site.services %}
        <article class="card">
          {% image service.image, service.alt, "showcase_image_thumbnail" %}
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
          <a href="{{ service.url }}" class="btn" aria-label="Más información sobre {{ service.title }}">Saber más</a>
        </article>
      {% endfor %}
    </div>
</section>

<section id="contacto" class="section" aria-labelledby="heading-contacto">
  <h2 id="heading-contacto">Contacto</h2>
  <p>Completá el formulario y te contactaremos a la brevedad.</p>
  {% include "form-contacto.njk" %}
</section>

<section id="presupuesto" class="section" aria-labelledby="heading-presupuesto">
  <h2 id="heading-presupuesto">Solicitar Presupuesto</h2>
  <p>Completá el formulario y te contactaremos a la brevedad.</p>
  {% include "form-presupuesto.njk" %}
</section>
